@charset "utf-8";
/* CSS Document */

/*if you want a different look in each header on the different pages, then use an ID rather than just header*/
#homeMasthead{
/*	background-color:#102E45;*/
	background-image: url("../images/backgrounds/Convocation-mobile.jpg");
	/*makes sure the whole element is covered and stops tiling*/
	background-size:cover;
	/*prioritizes a certain part of the picture to be shown*/
	background-position: center;
}

#serviceMasthead{
	background-image: url("../images/backgrounds/serviceDog.jpg");
	background-size: cover;
	background-position: right;
}

/*set the default font size - MOBILE FIRST*/
/*overridding a BS4 class with your own style*/
.display-1{
	font-size: 32pt;
}

h2{
	color: #3940C3;
}

.bg-dark{
	background-color: #122F51 !important;
}

/*class to define the height of any element it is added to*/
.height80{
	height:80vh;
}

footer{
	background-color: #01253D;
	padding-top: 100px;
	padding-bottom: 100px;
	color:#BDC6D0;
}

a:link, a:visited{
	color: #BDC6D0;
}
a:hover{
	color: #8DA6C3;
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
	.display-1{
		font-size: 60pt;
	}
	
}/*close smalle query*/


/* Medium devices */
@media only screen and (min-width: 768px) {
	#homeMasthead{
		background-image: url("../images/backgrounds/homeDog.jpg");
	}
	
	.display-1{
		font-size: 80pt;
	}
	
}/*this closes the medium media query*/









